On this workspace, i'm on Windows, so use powershell equivalent commands.

Only do what i tell you to do, don't mess with things you don't have sure it's safe to do. 
Always use some existing solution you have on your database, don't imaginate and assume things you don't know.